



<div>

  <app-data-itration></app-data-itration>
</div>



<!-- ****************   3  ***************** -->

<!-- <div>
 <app-calculation></app-calculation> 

</div>
 -->

<!-- ****************   2 ***************** -->


<!-- <div [align]="alignment"> 
    <h1>Employee Details</h1>
    <div align="center" >
        <h2>Employee Name: {{eName}}</h2>
        <h2>Employee Number: {{eNumber}}</h2>
        <h2>Employee skill: {{eSkill}}</h2>
      </div>
      <input type="text" [(ngModel)]='eName'>
      <button (click)="changeEmpNameToUpperCase()">Click me</button>
      <br>
      <br>
      <app-myfirst></app-myfirst>
</div> -->

<!-- ****************   1 ***************** -->

<!-- <div align="center" class="myClass1">
  <br>
  <br>
  <h1>Welcome</h1>
  <br>
  <br>
</div>
<br>
<div align="left" class="myClass2">
  <br>
  <br>
  <h1>Welcome</h1>
  <br>
  <br>
</div>
<br>
<div align="right" class="myClass3">
  <br>
  <br>
  <h1>Welcome</h1>
  <br>
  <br>
</div>
<br> -->